<div class='option' id='option-<%= option.id %>'>
  <h4 class='title'><%= option.title %></h4>
  <p class='note'><%= option.note %></p>
  <p class='url'><%= option.url %></p>
  <p class='votes'>
    Votes: <%= option.vote_count %>
    <% if @poll.open %>
      <%= button_to "+1", poll_option_votes_path(@poll, option), :id => "plus_one-option_#{option.id}" %>
    <% else %>
      <% if option.accepted? %>
        <span class='accepted'>Accepted</span>
      <% else %>
        <span class='not_accepted'>Not Accepted</span>
      <% end %>
    <% end %>
  </p>
</div>